body{
	margin: 0;
	padding: 0;
}
*{
	font-family: tahoma;
	font-size: 14px;
	color: black;
}
a{
	text-decoration: none;
}
.wrap{
	margin: 0 auto;
	width: 841px;
}
ul{
	list-style: none;
	text-decoration: none;
}
header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}
ul{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.main-menu li{
	margin: 0 0 0 30px;
}
.main-menu a{
	font-size: 16px;
	font-weight: bold;
}
.block1{
	background: #f0f0f0;
	padding: 20px 30px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 270px;
}
.block1 img{
	height: 230px;
	width: 380px;
	margin: 0 22px 0 0;
}
.wrap-subblock1{
}
.wrap-subblock1 h1{
	font-size: 21px;
	padding: 0;
	margin: 0;
	line-height: 28px;
}
.wrap-subblock1 p{
	font-family: "Times New Roman";
	font-size: 14px;
	color: #8d8d8d;
	line-height: 20px;
}
.wrap-subblock1 a{
	background: rgba(218,66,55,1);
	background: linear-gradient(to bottom, rgba(218,66,55,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(180,55,46,1) 100%);
	color: white;
	font-size: 13px;
	border-radius: 3px;
	height: 30px;
	width: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
}
h2{
	font-size: 18px;
}
p{
	font-size: 14px;
	font-family: "Times New Roman";
	color: #8c8c8c;
	line-height: 20px;
}
.list-item{
	display: flex;
	flex-direction: row;
	height: 120px;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	box-sizing: border-box;
}
.list-item label{
	font-size: 14px;
	line-height: 18px;
	font-family: "Times New Roman";
	font-style: italic;
	display: flex;
}
.fa-users, .fa-shopping-cart, .fa-calculator, .fa-suitcase{
	font-size: 37px;
	margin: 0 15px 0 0;
}